<dl class="facts">
  <div><dt>Based</dt><dd>{{ site.author.location }}</dd></div>
  <div><dt>Open to</dt><dd>{{ site.author.open_to }}</dd></div>
  <div><dt>Contact</dt><dd><a href="mailto:{{ site.author.email }}" class="accent">{{ site.author.email }}</a></dd></div>
  <div><dt>Elsewhere</dt><dd class="facts-links">
    <a href="https://github.com/{{ site.social.github }}" rel="noopener">GitHub</a>
    <a href="https://www.kaggle.com/{{ site.social.kaggle }}" rel="noopener">Kaggle</a>
    <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noopener">LinkedIn</a>
    <a href="https://x.com/{{ site.social.twitter }}" rel="noopener">X</a>
  </dd></div>
</dl>
